.userTab-cardTitle{
    line-height: 64px;
}

.hireable-true{
    background-color:#4caf50;
    color:white;
}

.hireable-false{
    background-color:#f44336;
    color:white;
}

.card-icons{
    font-size:40px;
    color:white;
}

.purple{
    background-color:#3f51b5;
    color:white;
}

.pink{
    background-color:#e91e63;
    color:white;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

.imge {
    min-height: 270px;
    background: url('../assets/7.jpe');
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
        background-repeat: no-repeat;
    background-attachment: fixed;
}

.imge.not-found{
    height:80%;
}

.imge.not-found>div>h2{
    color:white;
    padding:10px;
    font-weight: 400;
    text-align:center;
}

.list-item{
    border-left: 3px solid transparent;
}

.list-item:hover{
    border-left: 3px solid #e91e63;
}

.imge.not-found>div>a>span,.imge.not-found>div>a.md-button.md-default-theme.md-hue-1.md-primary:not([disabled]) md-icon, a.md-button.md-hue-1.md-primary:not([disabled]) md-icon, .md-button.md-default-theme.md-hue-1.md-primary:not([disabled]) md-icon, .md-button.md-hue-1.md-primary:not([disabled]) md-icon{
    color:white;
}


md-input-container .md-errors-spacer{
    display:none;
}

.toolbar-label{
    font-size:14px;
}

.header-logo{
    margin-top: 30px;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
    left: 7px;
}

.md-content.md-default-theme, md-content {
    background-color: #eee;
}

body, html {
    background-color: #eee;
}

.header{
    padding-top:50px;
    padding-bottom:50px;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


  .reposList{
      max-height:400px;
      overflow-y:auto;
      overflow-x:hidden;
      margin: -16px;
      margin-top:10px;
      margin-bottom:10px;
  }
  md-chips.md-default-theme .md-chips, md-chips .md-chips{
      box-shadow: none;
  }
  .body{
      font-family: 'Roboto', sans-serif;
  }

  .fab-speed-button{
      position:absolute;
      bottom:5px;
      z-index:99;
      right:2px;
  }

  /* repo */
  .repo-container{
      padding-top:25px;
      padding-bottom:25px;
      line-height: 26px;
  }
  .repo-headline{
      color:#3f51b5;
  }
.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3{
    font-size:24px;
}