<div ng-cloak>
    <div class="imge">
        <div layout="row" layout-align="center center" class="header">
            <img src="assets/gitly_light.png" height="80" width="80" alt="Gitly logo" class="header-logo" />
        </div>
    </div>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <!-----2 repo----->
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="top">Repositories</md-tooltip>
                        <md-icon class="ion-code gitly-icon"></md-icon>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div ng-include="'views/tab-views/repositories.html'"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <!-----1 user----->
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="top">User</md-tooltip>
                        <md-icon class="material-icons">person</md-icon>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding" style="min-height: 1px;">
                            <div ng-include="'views/tab-views/user.html'"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <!---------3 following--------->
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="top">Following</md-tooltip>
                        <md-icon class="material-icons">person_add</md-icon>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div ng-include="'views/tab-views/following.html'"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <!-----last followers----->
                <md-tab>
                    <md-tab-label>
                        <md-tooltip md-direction="top">Followers</md-tooltip>
                        <md-icon class="material-icons">group</md-icon>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <div ng-include="'views/tab-views/followers.html'"></div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>