<div layout="column" layout-align="center center">
    <div flex-xs flex-gt-xs="70" ng-cloak>
        <div flex-xs flex-gt-xs="100">
            <md-card>
                <md-card-content layout="column" layout-align="center center">
                    <md-icon class="material-icons">error</md-icon>
                    <span>Sorry, Gitly is unable to connect to GitHub at the moment</span>
                    <span>Gitly would suggest you to try again later</span>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>