<div ng-show="userTabFlag">
    <div layout="row" layout-align="center center">
        <div flex-xs flex-gt-xs="70" ng-cloak>
            <md-content>
                <div>
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar" ng-src="{{ githubUser.userImage }}" />
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{ githubUser.userName }}</span> 
                                <ng-pluralize class="md-subhead"
                                              count="githubUser.userFollowing"
                                              when="{'0': '{{ githubUser.userLogin }} follows no one',
                                                    'one': 'Following {} person',
                                                    'other': 'Following {}'}">
                                </ng-pluralize>                               
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <div ng-show="githubUser.userFollowing>0">
                                <div>
                                    <md-input-container class="md-block" flex="90">
                                        <label>Search this list</label>
                                        <input name="username" ng-model="followingSearch" autocomplete="off">
                                    </md-input-container>
                                </div>
                                <div class="reposList">
                                    <md-list>
                                        <md-list-item class="list-item" ng-click="navigateTo(gr.html_url, $event)" ng-repeat="gr in githubFollowing | filter:followingSearch">
                                            <img class="md-avatar" ng-src="{{ gr.avatar_url }}" />
                                            <h3 class="md-body-2">{{gr.login}}</h3>
                                        </md-list-item>
                                    </md-list>
                                </div>
                            </div>
                            <div ng-show="githubUser.userFollowing<1">
                                <div layout="column" layout-align="center center">
                                    <md-icon class="material-icons">thumb_down</md-icon>
                                    <p class="md-subhead">{{githubUser.userName}} doesn't follow anyone</p>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </div>
    </div>
</div>
<div ng-hide="userTabFlag">
    <ng-include src="'views/tab-views/broken.html'"></ng-include>
</div>