<div ng-show="userTabFlag">
    <div layout="row" layout-align="center center">
        <div flex-xs flex-gt-xs="60" ng-cloak>
            <md-content>
                <div>
                    <md-card>
                        <div layout="row" layout-align="center center"><img ng-src="{{githubUser.userImage}}" alt="GitHub user profile photo" class="md-card-image" width="240" height="240"></div>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{githubUser.userName}}</span>
                                <span class="md-subhead">@{{githubUser.userLogin}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <md-divider></md-divider>                            
                            <div>
                                <p ng-show="githubUser.userBio!=null" class="userTab-cardListItem">
                                    <md-icon class="material-icons">&#xE55A;</md-icon>
                                    <span>{{githubUser.userBio}}</span>
                                </p>
                                <p class="userTab-cardListItem">
                                    <md-icon class="material-icons">work</md-icon>
                                    <span ng-show="githubUser.userHireable">Yes, I'm hireable</span>
                                    <span ng-hide="githubUser.userHireable">No, I'm not hireable</span>
                                </p>
                                <p class="userTab-cardListItem">
                                    <md-icon class="ion-code"></md-icon>
                                    <ng-pluralize count="githubUser.userRepos"
                                                  when="{'0': '{} repositories',
                                                'one': '{} repository',
                                                'other': '{} repositories'}">
                                    </ng-pluralize>
                                </p>
                                <p class="userTab-cardListItem">
                                    <md-icon class="material-icons">group</md-icon>
                                    <ng-pluralize count="githubUser.userFollowers"
                                                  when="{'0': '{} followers',
                                                'one': '{} follower',
                                                'other': '{} followers'}">
                                    </ng-pluralize>
                                </p>
                                <p class="userTab-cardListItem">
                                    <md-icon class="material-icons">person_add</md-icon>
                                    <ng-pluralize count="githubUser.userFollowing"
                                                  when="{'0': 'Following {}',
                                                'one': 'Following {}',
                                                'other': 'Following {}'}">
                                    </ng-pluralize>
                                </p>
                            </div>
                            <md-divider></md-divider>                            
                            <md-card-actions layout="row" layout-align="end right">
                                <md-button ng-href="{{githubUser.userUrl}}" class="md-icon-button" aria-label="Github">
                                    <md-tooltip md-direction="top">GitHub profile</md-tooltip>
                                    <md-icon class="ion-social-github gitly-icon"></md-icon>
                                </md-button>
                                <md-button ng-href="{{githubUser.userBlog}}" class="md-icon-button" aria-label="Website">
                                    <md-tooltip md-direction="top">Website</md-tooltip>
                                    <md-icon class="material-icons">public</md-icon>
                                </md-button>
                            </md-card-actions>
                        </md-card-content>
                    </md-card>
                </div>
            </md-content>
        </div>
    </div>
</div>
<div ng-hide="userTabFlag">
    <ng-include src="'views/tab-views/broken.html'"></ng-include>
</div>