<div layout="row" layout-align="center center">
    <div ng-cloak>
        <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                    <div layout="row" layout-align="center center"><img ng-src="{{githubUser.userImage}}" class="md-card-image" width="240" height="240"></div>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{githubUser.userName}}</span>
                            <span class="md-subhead">@{{githubUser.userLogin}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div><p>{{githubUser.userBio}}</p></div>
                        <div><md-icon class="material-icons">place</md-icon>{{githubUser.userLocation}}</div>
                        <md-card-actions layout="row" layout-align="end right">
                            <md-button ng-href="{{githubUser.userUrl}}" class="md-icon-button" aria-label="Github">
                                <md-icon class="ion-social-github gitly-icon"></md-icon>
                            </md-button>
                            <md-button ng-href="{{githubUser.userBlog}}" class="md-icon-button" aria-label="Website">
                                <md-icon class="material-icons">public</md-icon>
                            </md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-content layout="column" layout-align="center center" ng-class=" githubUser.userHireable==true? 'hireable-true' : hireable-false">
                        <md-icon class="material-icons card-icons">work</md-icon>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline" ng-show="githubUser.userHireable">Yes, I'm hireable</span>
                                <span class="md-headline" ng-hide="githubUser.userHireable">No, I'm not hireable</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card-content>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" layout="column">
                <md-card>
                    <md-card-content layout="column" layout-align="center center" class="purple md-primary">
                        <md-icon class="ion-code card-icons"></md-icon>
                        <h2>
                            {{ githubUser.userRepos }} Repositories
                        </h2>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-content layout="column" layout-align="center center" class="purple">                        
                        <md-icon class="material-icons card-icons">group</md-icon>
                        <h2>
                            {{ githubUser.userFollowers }} Followers
                        </h2>
                    </md-card-content>
                </md-card>
                <md-card>
                    <md-card-content layout="column" layout-align="center center" class="purple">
                        <md-icon class="material-icons card-icons">person_add</md-icon>
                        <h2>
                            {{ githubUser.userFollowing }} Following
                        </h2>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>
</div>